<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.LHC28.ex.weather.dao.WeatherDAO">
	<select id="selectWeatherhistory" resultType="com.LHC28.ex.weather.model.WeatherHistory">
		SELECT
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `preciptitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherhistory`
	</select>
	<insert id="insertWeatherhistory" parameterType="map">
		INSERT INTO `weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `preciptitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{date}
			,#{weather}
			,#{temperatures}
			,#{preciptitation}
			,#{microDust}
			,#{windSpeed}
			,NOW()
			,NOW()
		)
	</insert>
</mapper>